{
	"printWidth": 100,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./src/routes/layout.css",
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
